@import "../../node_modules/terminal.css/dist/terminal.css";
@import "variables";

body {
    margin: 0;
}

#console {
    word-wrap: break-word;
}

.navbar {
    padding-left: 10px;
    padding-right: 10px;
}

.server-offline {
    background-color: red;
}

.server-online {
    background-color: green;
}