{% layout 'layout.liquid' %}
{% block content %}
<div class="form-group">
    <input id="command" type="text" placeholder="Enter Command">
</div>
<div class="form-group">
    <textarea disabled="true" id="console" rows="20" wrap="off"></textarea>
</div>
<div class="terminal-card">
    <header>Key Commands</header>
    <table>
        <thead>
            <tr>
                <th>Keybind</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th><kbd>Ctrl+C</kbd></th>
                <td>Kills the minecraft server.</td>
            </tr>
            <tr>
                <th><kbd>Ctrl+Q</kbd></th>
                <td>Restarts the minecraft server.</td>
            </tr>
        </tbody>
    </table>
</div>
<script>
    Bundle.initConsole()
</script>
{% endblock %}