<!doctype html>
<html>
    <head>
        <title>{{ title }} - {{ active }}</title>
        <script src="public/webpack.bundle.js"></script>
    </head>
    <body class="terminal">
        <div class="terminal-nav navbar">
            <div class="terminal-logo">
                <div class="logo terminal-prompt">
                    <a href="/" class="no-style">Minecraft Panel</a>
                </div>
            </div>
            <nav class="terminal-menu">
                <ul>
                    <li>
                        <a class="menu-item {% if active == "console" %}active{% endif %}" href="/">Console</a>
                    </li>
                    <li>
                        <a class="menu-item {% if active == "status" %}active{% endif %}" href="/status">Status</a>
                    </li>
                    <li>
                        <a class="menu-item {% if active == "status" %}active{% endif %}" href="/client">Client</a>
                    </li>
                </ul>
            </nav>
        </div>
        {% block content %}{% endblock %}
    </body>
</html>