{% layout 'layout.liquid' %}
{% block content %}
<div class="terminal-timeline">
    <div class="terminal-card">
        <header>Status</header>
        <div id="status"></div>
    </div>
    <div class="terminal-card">
        <header>MOTD</header>
        <div id="motd"></div>
    </div>
    <div class="terminal-card">
        <header>Players</header>
        <div id="players"></div>
    </div>
</div>
<script>
    Bundle.initStatus()
</script>
{% endblock %}